<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Effervescence</title>
    <link rel="stylesheet" href="./../../styles/main.css" />
  </head>
  <body data-barba="wrapper">
    <!-- put here content that will not change
      between your pages, like <header> or <nav> -->
    <header>
      <div class="header">
        <h1 class="header__logo">Effe</h1>
        <div class="header__menu-btn">
          <span class="header__menu-btn__burger"></span>
        </div>
        <nav class="header__navbar">
          <ul class="header__navbar__navlinks">
            <li class="header__navbar__navlink">
              <a href="./../index.html">Home</a>
            </li>
            <li class="header__navbar__navlink">
              <a href="./about.html">About</a>
            </li>
            <li class="header__navbar__navlink">
              <a href="./events.html">Events</a>
            </li>
            <li class="header__navbar__navlink">
              <a href="./contact.html">Contact</a>
            </li>
          </ul>
        </nav>
      </div>
    </header>

    <main
      data-barba="container"
      data-barba-namespace="contact"
      class="main__contact"
    ></main>

    <script src="./../../script/index.js"></script>
  </body>
</html>
